@charset "ISO-8859-1";

.header {
	position: absolute;
	width: 100%;
	top: 0px;
	background-color: #06c;
	text-align: center;
	color: white;

}

.footer {
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color:white;
  background: #5a5a5a;
  text-align: center;
}
